extends ../../layouts/app
block title
    title!= title
block content
    .col-md-8.blog-main
        h1.pb-4.mb-4.font-italic.border-bottom 404
    
        p.lead
            Page Not Found!
        p.lead
            a(href="/" class="btn btn-lg btn-primary") Go Back!
